# ignore mac system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Volume and system temporary files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
# simv0: exclude compiled binaries in Code_Dev subdirs
Code_Dev/*/bte_ns_ode
Code_Dev/*/rk4_ode
Code_Dev/*/euler_ode
Code_Dev/*/heun_ode
Code_Dev/*/*_ode
